<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
	<title>Socrative Unico</title>
</head>
<body>
	<section id="main_container">
		<header class="header">
			<h1>Bienvenido a mi Socrative</h1>
			<nav class="top_menu">
				<ul>
					<li><a href="internas/crear_cuestionario.html">Crear Cuestionario</a></li>
					<li><a href="#">Habilitar Cuestionario</a></li>
					<li><a href="#">Descargar Resultados</a></li>
				</ul>
			</nav>
		</header>
		
		<div id ="app">
			<div class="menu_container" v-if="action===1">
					
			
				
			</div>
			
		</div>

		<section class="content">
		<div class="container" id="app">
            <div class="row">
                <h1>Formulario</h1>
                <form @submit.prevent>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <span v-if="!nombre">Requerido*</span>
                        <input type="text" id="nombre" class="form-control" v-model="nombre">
                    </div>    
                </form>
            </div>
            
            </div>	
        
        </section>
		<footer class="footer">
			<span class="footer_msg"> Creado por: Andrea Mena, Cristian Macas</span>
		</footer>
	</section>
    
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>